@import url("https://fonts.cdnfonts.com/css/proxima-nova-2");
@import url("https://fonts.cdnfonts.com/css/poppins");
@import url("https://fonts.cdnfonts.com/css/questrial");

@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    padding: 0 !important;
    margin: 0 !important;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent; /* make scrollbar transparent */
}


.right-35\/2 {
    right: 17.5%;
}
